<!DOCTYPE html>
<html>
<head>
  <title>Words Constellation</title>
    <!-- Latest compiled and minified CSS -->
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->

	<!-- Optional theme -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->
    <%= stylesheet_link_tag 'lavish-bootstrap' %>
    <%= stylesheet_link_tag 'vis' %>

  <link href="http://jquery-ui-bootstrap.github.io/jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.10.3.custom.css" rel="stylesheet"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">KCL Keywords Project</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="/words">Words</a></li>
                  <li><a href="/contact/index">About</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                    <% if @admin_signed_up %>
                        <% if admin_signed_in? %>
                          
                          <li><%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %></li>
                        <% else %>
                          
                          <li><%= link_to "Login", new_admin_session_path, :class => 'navbar-link'  %></li>
                        <% end %>
                    <% else %>
                      <li><%= link_to "Sign up", new_admin_registration_path, :class => 'navbar-link'  %></li>
                    <% end %>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
		<div class="row">
			<div class="span2">
      			<!--Sidebar content-->
    		</div>
			<div class="span10">
				<% if notice %>
					<div class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<%= notice %>
					</div>
				<% end %>
				<% if alert %>
					<div class="alert alert-error">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<%= alert %>
					</div>
				<% end %>
				<%= yield %>
			</div>
		</div>
		<hr>
		<div class="footer">
			<div class="row"> KCL Keywords Project <a class="pull-right" href="mailto:kclkeywords@gmail.com"> Contact </a>
            </div>

		</div>
	</div>
<!-- Latest compiled and minified JavaScript -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
